#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

main{
  width: 70%;
  height: 600px;
  margin: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}

img{
  position: absolute;
  width:130px ;
  height: 100px ;
  top: 470px;
  left: 620px;
}